<?xml version="1.0"?>
<odoo>
    <!-- MENU ROOT -->



    <!-- MENU PRIMO LIVELLO -->


    <!-- MENU ACTION -->


        <menuitem id="fleet_check_menu_action"
    action="fleet_check"
    parent="survey.menu_surveys"
    name="Fleet Check"/>

        <menuitem id="fleet_check_cam_menu_action"
    action="fleet_check_cam"
    parent="gtms.menu_gtms_configuration"
    name="Fleet Check Cam"/>

        <menuitem id="fleet_check_import_log_menu_action"
    action="fleet_check_import_log"
    parent="survey.menu_surveys"
    name="Fleet Check Import Log"/>

</odoo>
